[build]
builder = "NIXPACKS"
buildCommand = "python manage.py collectstatic --noinput"

[deploy]
startCommand = "python manage.py migrate && gunicorn contabilidade.wsgi --log-file - --bind 0.0.0.0:$PORT"
